.adoption-page{
    .btn{
        color: #ffff;
        background-color: var(--primary);
        border: 0;
        border-radius: 50px;
    }
    .btn:hover{
        color: #000;
    }
    .card{
        border: 0;
        font-family: 'Prompt', sans-serif ;
    }
    .card {
        transition: transform .2s; /* Animation */
        margin: 0 auto;
      }
      
      .card:hover {
        transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
      }
  
      
    
}