.gallery{
  h3{
    color: var(--primary)
  }
}
.card-gallery{
  overflow: hidden;
  border-radius: 8px;
  border: 1px solid #cccccc;
  display: flex;
  align-items: center;
  justify-content: center;
  // box-sizing: border-box;
  width: 240px;
  height: 200px;
  transition: all linear 200ms;
}
.card-gallery:hover{
  transform: scale(1.1);
  transition: all linear 200ms;
  z-index: 1;
  box-shadow: 1px 1px 10px rgba(0,0,0,.3);
  cursor: pointer;
}
.img-gallery{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
