.navbar-expand-lg .navbar-nav .nav-link.custom-btn {
    color: #5bc1ac;
    margin-top: 8px;
    padding: 12px 25px;
}

.navbar-expand-lg .navbar-nav .nav-link.custom-btn:hover,
.custom-border-btn:hover {
    background: #5bc1ac;
    border-color: transparent;
    color: #ffff;
}



.navbar {
   background-color: #ffff;
   box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
}

.navbar-brand {
}

.navbar-brand span {
    display: inline-block;
    vertical-align: middle;
}

.navbar-brand small {
    color: var(--secondary);
    display: block;
    font-size: 10px;
    line-height: normal;
    text-transform: uppercase;
}

.logo {
    height: 60px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    margin-right: 0;
    margin-left: 0;
    padding: 20px;
}

.navbar-nav .nav-link {
    display: inline-block;
    color: var(--primary);
    font-size: 16px;
    font-weight: 400;
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
    background: #ffff;
    color: var(--primary);
}
.dropdown{
    a{
        color: #000;
    }
   
}
.dropdown-menu {
    background: #ffff;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
    border: 0;
    max-width: auto;
    padding: 0;
    margin-top: 20px;
}

.dropdown-item {
    display: inline-block;
    color: #000;
    font-size:16px;
    font-weight: 400;
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
}

.dropdown-menu li:last-child .dropdown-item {
    padding-top: 0;
}
.dropdown-item:active{
    background-color: #5bc1ac;
}
.dropdown-item.active,
.dropdown-item:focus,
.dropdown-item:hover {
    background: transparent;
    color: var(--primary);
}
.dropdown-toggle{
    background-color: transparent;
    border: 0;
}
.dropdown-toggle:hover{
    background-color: transparent;
}
.dropdown-toggle::after {
    display: inline-block;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -.125em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    left: 2px;
    border: 0;
}

.nav-link{
    color: #000;
}
.nav-link:hover{
    color: var(--primary);
}
@media screen and (min-width: 992px) {
    .dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0;
    }
}

.navbar-toggler {
    border: 0;
    padding: 0;
    cursor: pointer;
    margin: 0;
    width: 30px;
    height: 35px;
    outline: none;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

@media screen and (max-width: 991px) {
    .navbar {
        padding-top: 6px;
        padding-bottom: 6px;
    }

    .navbar-expand-lg .navbar-nav {
        padding-bottom: 30px;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 8px 20px;
    }
}
