.news {
    .card {
        overflow: hidden;
        border-radius: 8px;
        border: 1px solid #cccccc;
        display: flex;
        align-items: center;
        justify-content: center;
        // box-sizing: border-box;
        width: 100%;
        transition: all linear 200ms;
        img {
            height: 250px;
        }
    }
}
