.news {
    .card {
        overflow: hidden;
        border-radius: 8px;
        border: 1px solid #cccccc;
        display: flex;
        align-items: center;
        justify-content: center;
        // box-sizing: border-box;
        width: 100%;
        transition: all linear 200ms;
        img {
            height: 250px;
        }
        .card-title {
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          
          .card-text {
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          &:hover{
            z-index: 999;
            transform: scale(1.1);
            transition: all linear 200ms;

          }
    }
}
