@font-face {
    font-family: "Prompt";
    src: url("/fonts/Prompt.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

h1,
.h1,
h2,
.h2,
.fw-bold {
    font-family: "Prompt", sans-serif;
    font-weight: 700;
}

h3,
.h3,
h4,
.h4,
.fw-medium {
    font-family: "Prompt", sans-serif;
    font-weight: 600;
}

h5,
.h5,
h6,
.h6,
.fw-semi-bold {
    font-family: "Prompt", sans-serif;
    font-weight: 500;
}
p,
a {
    font-family: "Prompt", sans-serif;
}
.slick-slider {
    .slick-prev:before,
    .slick-next:before {
        color: unset !important;
    }
    .slick-prev {
        left: 0px !important;
        z-index: 999;
        color: unset !important;
        &::before {
            color: unset;
        }
    }

    .slick-next {
        right: 0px !important;
        z-index: 999;
        color: unset !important;
        &::before {
            color: unset;
        }
    }
    &:hover {
        .slick-prev {
            color: white !important;
        }

        .slick-next {
            color: white !important;
        }
    }
}
.bold {
    font-weight: bold !important;
}
.f-s-5 {
    font-size: 5px !important;
}
.f-s-10 {
    font-size: 10px !important;
}
.f-s-1-rem {
    font-size: 1rem !important;
}
.align-items-center {
    align-items: center;
}
.committee {
    .people-list {
        border-radius: 15px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        background-color: #ffffff;
    }
    img {
        width: 150px;
        height: 150px;
        object-fit: cover;
    }
    .member {
        display: flex;
    }
    .lv-1 {
        .people-list {
            height: 100%;
        }
    }
    .lv-3 {
        font-size: 10px !important;
    }
    @media only screen and (max-width: 1200px) {
        h5 {
            font-size: 1rem;
        }
    }
    @media only screen and (max-width: 1024px) {
        img {
            width: 150px;
            max-width: 100%;
            object-fit: contain;
        }
    }
    @media only screen and (max-width: 767px) {
        .name {
            height: 4rem;
        }
    }
    @media only screen and (max-width: 425px) {
        .lv-1 {
            .ADVISOR {
                flex-direction: column;
                align-items: center;
            }
        }
    }
}
.justify-content-center {
    justify-content: center;
}
.language {
    img {
        filter: grayscale(100%);
    }
    img.show {
        filter: grayscale(0%);
    }
}
.titie-tab {
    background: #13293e;
    color: #ffffff;
    font-size: 2rem;
    text-align: center;
}
.object-contain{
    object-fit: contain;
}